@import "../../variables.scss";

.paragraph {
    font-family: 'SpartanRegular';
    font-size: 11px;
    color: $grayishBlack;

    &.bold {
        font-family: 'SpartanBold';
        font-weight: bold;
    }
    &.italic {
        font-style: italic;
    }
    &.inverted {
        color: #fff;
    }
    &.uppercase {
        text-transform: uppercase;
    }
}