@import url("../fonts.scss");
@import "../variables.scss";
@import "../breakpoints.scss";

* {
    font-family: 'SpartanRegular';
    font-size: 14px;
    line-height: 13px;
    box-sizing: border-box;
}
