@font-face {
    font-family: 'SpartanRegular';
    src: url('./assets/fonts/spartan_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpartanBold';
    src: url('./assets/fonts/spartan_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SpartanLight';
    src: url('./assets/fonts/spartan_light.ttf') format('truetype');
}